* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: 'Fira Sans', sans-serif;
  font-family: 'PT Sans Narrow', sans-serif;
  font-family: 'Rubik', sans-serif;
}

nav {
  background-color: white;
  box-shadow: 4px 4px 12px grey;
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 2;
}

.logo img {
  width: 200px;
  padding: 10px 0 0 1rem;
  height: auto;
}

nav ul {
  float: right;
  margin-right: 3rem;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: black;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,
a:hover {
  background: rgb(217, 76, 76);
  color: white;
  transition: .5s;
}

.checkbtn {
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: white;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: none;
    background-color: rgb(217, 76, 76);

  }

  #check:checked~ul {
    left: 0;
  }
}